@import "tailwindcss";

@theme {
  /* Palette OM */
  --color-om-light: #38bdf8;
  --color-om-dark: #38bdf8;
  
  /* Variables globales */
  --background: #ffffff;
  --foreground: #171717;
}

/* On applique les couleurs via les variables CSS au niveau racine */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Utilisation des variables CSS au lieu de @apply dans @layer base pour Tailwind v4 */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}