.container {
    margin-top: 15vh;
    color: black;
    background-color: rgb(253, 253, 253);
}

.title {
    color: white;
    padding: 12px;
    text-align: center;
    background-color: var(--primary); 
    border-bottom: 1px solid black;
}

.h2 {
    padding: 12px;
    text-decoration: underline;
    color: var(--primary); 
}

.p {
    font-weight: bold;
    padding: 12px;
}

.ul {
    padding: 12px;
    font-weight: bold;
    list-style: none;
}

.li {
    font-weight: bold;
    color: rgb(82,113,255);
    padding: 8px;
    margin-left: 6px;
}